extends ./layouts/_default

block content
    main#main-content(role="main")

        .live
            section.live-media
                ul.nav.nav-tabs
                    li.active
                        a(href="#live-media-video", data-toggle="tab") à voir
                    li
                        a(href="#live-media-audio", data-toggle="tab") à écouter
                //- Tabbed content
                .tab-content
                    article.tab-pane#live-media-video
                        .video-container

                    article.tab-pane.active#live-media-audio
                        a(href="https://soundcloud.com/musicdotexe").sc-player My new dub track



            section.live-tweets
                header
                    h1 Sur Twitter&nbsp;
                    .btn-group.btn-group-xs.group-link
                        a(href="https://twitter.com/EuradioEP2014").btn.btn-primary.btn-sm.account @EuradioEP2014
                        a(href="https://twitter.com/search?q=%23EP2014&src=hash", target="_blank", title="Le hashtag #EP2014").btn.btn-primary.btn-sm #EP2014

                a.twitter-timeline(
                        href="https://twitter.com/shinze",
                        data-widget-id="463623698667159553",
                        data-chrome="nofooter transparent noheader",
                        data-border-color="#006a9f",
                        data-link-color="#6cceff",
                        data-theme="dark",
                        data-height="400"
                    )
                    | Tweets d’Euradio Nantes

                script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");




        section.cold
            ul.nav.nav-tabs
                li.active
                    a(href="#cold-tmblr", data-toggle="tab") en complément
                li
                    a(href="#cold-rss", data-toggle="tab") ailleurs
            //- Tabbed content
            .tab-content
                article.tab-pane.active#cold-tmblr
                    .container
                        h1 En complément


                article.tab-pane#cold-rss
                    | Du son ici




